---
layout: default
---
<html>
    
<link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
<body>
<div class="p-4 flex flex-items">

        <b>Posts</b>
        <ul>
                {% for post in site.posts %}
                  <li>
                    <a href="{{ post.url }}">{{ post.title }}</a>
                  </li>
                {% endfor %}
              </ul>
        <b>Blog</b>
        {% for blog in site.blogs %}
        entra
        <li>
          <a href="{{ blog.url }}">{{ blog.title }}</a>
        </li>
        {% endfor %}

</div>
</body>
</html>